:root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #313131;
  color: #fff;
}

.error-message {
  color: red;
}


/* Register */
.register-container {
  max-width: 400px;
  /* height: 95vh; */
  margin: 0 auto;
  padding: 5vh 4rem 5vh 4rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #313131;
  text-align: center;
}

.register-container h1 {
  margin-bottom: 20px;
  padding-bottom: 2vh;
  color: #333;
}

.register-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

.register-container input {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.register-container p {
  margin-top: 10px;
  padding-bottom: 1vh;
  font-size: 14px;
}

.register-container p a {
  color: #007bff;
  text-decoration: none;
}

.register-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  /* color: #fff; */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.register-container button:hover {
  background-color: #0056b3;
}


/* Login */
.login-container {
  max-width: 400px;
  /* height: 95vh; */
  margin: 0 auto;
  padding: 5vh 4rem 5vh 4rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #313131;
  text-align: center;
}

.login-container h1 {
  margin-bottom: 20px;
  padding-bottom: 2vh;
  color: #333;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

.login-container input {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-container p {
  margin-top: 10px;
  padding-bottom: 1vh;
  font-size: 14px;
}

.login-container p a {
  color: #007bff;
  text-decoration: none;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  /* color: #fff; */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

/* Dashboard */
.dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0.8rem;
  border-radius: .2rem;
  background-color: rgba(255, 255, 255, 0.8);
  /* semi-transparent white */
}

.profile-info {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.profile-pic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1vw;
}

.username {
  font-weight: bold;
  color: #333;
}

button {
  padding: 0.25rem 0.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* upload image */
#image-upload-form {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-input {
  display: none;
}

.upload-btn {
  width: 30rem;
  padding: 0.9rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2ea28d;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.submit-btn {
  width: 20rem;
  padding: 0.8rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13752a;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 4rem;
}

.submit-btn:hover,
.upload-btn:hover {
  background-color: #0056b3;
}


/* image card */
.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.image-card {
  background-color: #454545;
  border-radius: 4%;
  position: relative;
}

.uploaded-image {
  width: 100%;
  border-radius: 8px;
}

.uploaded-image:hover {
  margin-top: -10px;
  margin-bottom: 10px;
}

.image-actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.image-actions button {
  margin-left: 5px;
  font-size: 1vw;
  background-color: rgb(205, 3, 3);
  border-radius: 5px;
}

.image-actions button:hover {
  background-color: rgb(255, 3, 3);
}

#download-btn {
  background-color: #13752a;
}

#download-btn:hover {
  background-color: #53952a;
}

.submit-btn {
  margin-top: 10px;
}


/* Mobile styles */
@media screen and (max-width: 1081px) {

  /* Dashboard */
  .navbar {
    padding: 10px 30px;
    font-size: 5vw;
    padding-top: 1vh;
  }

  .profile-pic {
    width: 70px;
    height: 70px;
  }

  button {
    padding: 10px 30px;
    margin: 15px;
    font-size: 5vw;
  }

  .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .image-actions {
    position: static;
    margin-top: 10px;
  }

  .upload-btn {
    width: 60%;
    height: 2vh;
    font-size: 4vw;
  }

  .submit-btn {
    width: 40%;
    height: 3.5vh;
    font-size: 4vw;
  }

  .submit-btn:hover,
  .upload-btn:hover {
    background-color: #0056b3;
  }


  /* Login */
  .register-container,
  .login-container {
    max-width: 96vw;
    height: 98vh;
    padding: 4vw;
  }

  .register-container h1,
  .login-container h1 {
    margin-bottom: 2vh;
    font-size: 7vw;
    padding-bottom: 3vh;
    color: #333;
  }

  .register-container label,
  .login-container label {
    margin-bottom: 1vh;
    font-size: 6vw;
  }

  .register-container input,
  .login-container input {
    margin-bottom: 4vh;
    font-size: 4vw;
  }

  .register-container p,
  .login-container p {
    font-size: 4vw;
  }

  .register-container p a,
  .login-container p a {
    font-size: 3.8vw;
  }

  .register-container button,
  .login-container button {
    width: 95%;
    font-size: 6vw;
  }

  /* image card */
  
  .image-actions button {
    font-size: 1rem;
  }

}